{% extends "layouts/page.njk" %}

{% block pageTitle %}
  {{ pageTitle }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if error %}
      {{ govukErrorSummary({
        titleText: content.errors.summaryTitle,
        errorList: [
          {
            text: error.message,
            href: error.href
          }
        ]
      }) }}
    {% endif %}

    {% set modelNameError = null %}
    {% set inputClasses = '' %}
    {% if error and error.field == 'modelName' %}
      {% set modelNameError = { text: error.message } %}
      {% set inputClasses = 'govuk-input--error' %}
    {% endif %}

    <form method="post"
          action="{{ modelNameAction }}"
          novalidate>
      {{ govukInput({
        id: "model-name",
        name: "modelName",
        value: formValue,
        label: {
          text: content.label,
          classes: "govuk-label--xl",
          isPageHeading: true
        },
        errorMessage: modelNameError,
        classes: inputClasses
      }) }}

      <div class="govuk-button-group govuk-!-margin-top-7">
        {{ govukButton({
          text: content.saveButton
        }) }}

        <a class="govuk-link" href="{{ applianceDetailsHref }}">{{ content.cancel }}</a>
      </div>
    </form>

  </div>
</div>

{% endblock %}
