{% extends "layouts/page.njk" %}

{% block pageTitle %}
  {{ pageTitle }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ heading }}</h1>
    {% if hasPendingReviews %}
      <p class="govuk-body">
        You must make a final decision on each appliance before completing this application review.
      </p>
    {% else %}
      <p class="govuk-body">
        All appliances have been reviewed successfully. You can now submit your application.
      </p>
    {% endif %}
    <p>
      <a href="/review-appliance-application/{{ applicationId }}">Return to application review</a>
    </p>
  </div>
</div>

{% endblock %}
