{% extends "layouts/page.njk" %}

{% block pageTitle %}
  {{ pageTitle }} - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if error %}
      {{ govukErrorSummary({
        titleText: content.errors.summaryTitle,
        errorList: [
          {
            text: error.message,
            href: error.href
          }
        ]
      }) }}
    {% endif %}

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      {{ content.title }}<br>
      for {{ appliance.modelName }}
    </h1>

    <p class="govuk-body govuk-!-margin-bottom-6">
      {{ content.description }}
    </p>

    {% set fieldError = null %}
    {% if error and error.field == 'additionalConditions' %}
      {% set fieldError = { text: error.message } %}
    {% endif %}

    <form method="post" action="/review-appliance/{{ appliance.id }}/additional-conditions" novalidate>
      {{ govukCharacterCount({
        id: 'additionalConditions',
        name: 'additionalConditions',
        label: {
          text: content.label,
          classes: 'govuk-visually-hidden'
        },
        maxlength: content.characterCount.limit,
        value: additionalConditionsValue,
        errorMessage: fieldError,
        rows: 5,
        classes: 'govuk-textarea'
      }) }}

      <div class="govuk-button-group govuk-!-margin-top-5">
        {{ govukButton({
          text: content.saveButton,
          name: 'decision',
          value: 'complete'
        }) }}

        <a class="govuk-link" href="{{ reviewHref }}">{{ content.cancel }}</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
