{% extends 'layouts/page.njk' %}

{% block pageTitle %}
  Example Page - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Review appliance application
    </h1>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Appliances for review
        </h2>
      </div>

      <div class="govuk-summary-card__content">
        {{ govukTable({
        head: [
          {
            text: "Appliance Name"
          },
          {
            text: "Status"
          },
          {
            text: "Actions"
          }
        ],
        rows: [
          [
            { text: "Twin Heat M20i" },
            { text: "	Not started" },
            { html: '<a href="/appliance-review">Start Review</a>' }
          ]
        ]
      }) }}
      </div>
    </div>


  </div>
</div>

{% endblock %}
