{% extends "layouts/page.njk" %}

{% block pageTitle %}
  {{ pageTitle }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if error %}
      {{ govukErrorSummary({
        titleText: content.errors.summaryTitle,
        errorList: [
          {
            text: error.message,
            href: error.href
          }
        ]
      }) }}
    {% endif %}

    <h1 class="govuk-heading-xl">{{ heading }}</h1>

    {% set modelNumberError = null %}
    {% if error and error.field == 'modelNumber' %}
      {% set modelNumberError = { text: error.message } %}
    {% endif %}

    <form method="post"
          action="/review-appliance/{{ appliance.id }}/model-number"
          novalidate>
      {{ govukInput({
        id: "model-number",
        name: "modelNumber",
        value: formValue,
        label: {
          text: content.label,
          classes: "govuk-label--l"
        },
        errorMessage: modelNumberError
      }) }}

      <div class="govuk-button-group govuk-!-margin-top-7">
        {{ govukButton({
          text: content.saveButton
        }) }}
      </div>

      <p><a class="govuk-link" href="{{ applianceDetailsHref }}">{{ content.cancel }}</a></p>
    </form>

  </div>
</div>

{% endblock %}
